.card_item {
	background-color: yellow;
	font-weight: bold;
	width: 30%;
	list-style: none;
	padding: 20px 10px;
	.bio {
		font-style: italic;
	}
	.skill {
		padding: 4px 4px;
		border: 2px solid black;
		width: 100px;
		margin-bottom: 10px;
		border-radius: 8px;
	}
}
.name {
	font-size: 1rem;
}
.name.red {
	color: red;
}
.name.green {
	color: green;
}
