.message{
  margin: 8px;
  padding: 12px 16px;
  border-radius: 4px;
  background-color: gray;
  color: white;
}

.alert{
  composes: message;
  color: red;
}
.success {
  composes: message;
  background-color: white;
  color:green;
}